// Collour palette
$deepSeaBlue : #025464;
$orange : #E57C23;
$darkYellow : #E8AA42;
$oldWhite : #F8F1F1;

@use "./mixins.scss";



.centered {
  @include mixins.centered;
  &--nodecor{
    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $deepSeaBlue;

    &#createdBy{
    align-items: flex-end;
    padding-right: 10px;
    font-weight: bold;
    
    }
    
  }
  &__largericon {
    font-size: 5vw;
    color: $deepSeaBlue;
  }
  div {
    font-size: auto;
    color: $deepSeaBlue;
    font-weight: bold;
    &.top {
      width: 75vw;
      text-align: start;
      
    }
    &.bottom {
      text-align: end;
      width: 75vw;
      
    }
    .over {
      position: relative;
      text-align: center;
      color: $deepSeaBlue;
      background: transparent;
    }
  }
  
  }

  img {
    @include mixins.mainImage
  }


body {
  background-color: $oldWhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
    border-top: 1px solid $deepSeaBlue;
  }
}



.topnav {
  background-color: $deepSeaBlue;
  padding: 2vw;

  
  ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 14px 16px;
    margin: 2%;
    text-decoration: none;
    font-size: 3vw;

      li {
        list-style-type: none;
        
        a {
          text-decoration: none;
          padding: 2vw;
          
          color: $darkYellow;
          text-shadow: 0.1vw 0 $oldWhite;

          &:hover {
    
            color: $orange;
          }
          &.current{
            text-decoration: underline;
            text-decoration-thickness: 0.15vw;
          }
        }
      }
  }
}



// .page-with-img {
//   @include mixins.backgroundImg;

// isolation: isolate;
//         display: flex;
      
      
//          main::before{
          
//           opacity: 0.4;
//           background-image: url(assets/Image.jpg);
//           background-repeat: no-repeat;
//           background-blend-mode: darken;
//           // background-attachment: fixed;
//         //   background-size: cover;
//           position: absolute;
//           inset: 10em;
//           content: "";
//       }

//     }
@media screen and (max-width: 600px) {

  
  }
  

