// Collour palette
$deepSeaBlue: #025464;
$orange: #ebb914; //#E57C23;
$darkYellow: #fbe69f; //#E8AA42;
$oldWhite: #f8f1f1;

@use "./mixins.scss";

.page {
  margin-top: 14%;
  height: 90vh;
  width: 100%;
}
.centered {
  @include mixins.centered;

  color: $deepSeaBlue;

  &.home-page {
    height: 80vh;
    margin: 0 0 5%;

    background-color: $darkYellow;
    flex-wrap: nowrap;
    position: relative;

    &__name-heading {
      @include mixins.mainImage;
      opacity: 1;

      position: absolute;
      height: 50%;
      width: 45%;
      left: 9%;
      align-self: flex-start;
      background-color: $deepSeaBlue;
      color: $oldWhite;
      font-size: 350%;
      text-align: center;
      text-shadow: 1px 3px 3px $deepSeaBlue;
    }

    &__position-heading {
      @include mixins.mainImage;
      opacity: 1;

      position: absolute;
      height: 50%;
      width: 35%;
      right: 9%;
      align-self: flex-end;
      background-color: $orange;
      color: $oldWhite;
      font-size: 350%;
      text-align: center;
      text-shadow: 1px 3px 3px $deepSeaBlue;
      padding-left: 10%;
      padding-right: 2%;
    }
  }

  &--nodecor {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    text-align: center;
    color: $deepSeaBlue;

    // &#createdBy {
    //   align-items: flex-end;
    //   padding-right: 10px;
    //   font-weight: bold;
    // }
  }
  &__largericon {
    font-size: 7vh;
    color: $deepSeaBlue;
  }

  &__footer-icon {
    text-decoration: none;
  }
  &__footer-icon::before {
    font-size: 5vh;
    color: $deepSeaBlue;
  }

  img {
    @include mixins.mainImage;
    &.picIcon {
      height: 7vh;
      // width: 5vw;
      opacity: 1;
      margin: 0;
    }
  }

  .page-with-image {
    position: absolute;

    &__top {
      width: 50%;
      position: absolute;
      left: 2%;
      align-self: flex-start;
      // background-color: #f8f1f160;

      text-align: start;
      font-size: 125%;
      font-weight: bold;
    }
    &__bottom {
      width: 50%;
      position: absolute;
      right: 0%;
      align-self: flex-end;
      background-color: #f8f1f160;

      text-align: start;
      font-size: 125%;
      font-weight: bold;
    }
  }
}

body {
  background-color: $oldWhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  input[type="checkbox"] {
    // transition: all 0.3s;
    // box-sizing: border-box;
    display: none;
  }

  footer {
    background-color: $oldWhite;
    border-top: 1px solid $deepSeaBlue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    p {
      color: $deepSeaBlue;
      margin: 0%;
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: end;
      padding-right: 10px;
      font-size: small;
      font-weight: bold;
    }
    ul {
      margin: 0.5rem;
    }
  }
}

.topnav {
  background-color: $deepSeaBlue;

  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 100;

  ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 7%;
    // margin: 2%;
    padding: 0;
    text-decoration: none;
    font-size: 3vh;

    li {
      list-style-type: none;
      font-family: (--font-inter), ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";

      a {
        text-decoration: none;
        padding: 2vw;

        color: $darkYellow;
        text-shadow: 1px 0 $oldWhite;

        &:hover {
          color: $orange;
        }
        &:active {
          text-decoration: underline;
          text-decoration-thickness: 0.15vw;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0%;
    width: 100%;
  }
  .centered {
    // height: 100%;

    &.home-page {
      &__position-heading {
        width: 70%;
        right: 5%;
        bottom: 5%;
      }
      &__name-heading {
        width: 70%;
        left: 5%;
        top: 5%;
      }
    }
  }
  .topnav {
    height: 100%;
    position: fixed;
    right: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, $deepSeaBlue 0%, $darkYellow 100%);

    ul {
      display: block;

      margin: 0;
      padding: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);

      li {
        list-style: none;

        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid $oldWhite;
        list-style-type: none;

        a {
          // text-transform: uppercase;
          // font-weight: bold;
          cursor: pointer;
          text-decoration: none;

          color: $darkYellow;
          text-shadow: 1px 0 $oldWhite;

          &:hover {
            color: $orange;
          }
          .current {
            text-decoration: underline;
            text-decoration-thickness: 0.15vw;
          }
        }
      }
    }
  }
  input[type="checkbox"]:checked ~ .topnav {
    transform: translateX(0);
  }

  input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 15px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $deepSeaBlue;
  }
  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }
}
