// Collour palette
$deepSeaBlue : #025464;
$orange : #E57C23;
$darkYellow : #E8AA42;
$oldWhite : #F8F1F1;

@use "./mixins.scss";

.centered {
  @include mixins.centered;
  &--nodecor{
    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    text-align: center;

    &#createdBy{
    align-items: flex-end;
    font-weight: bold;
    color: $deepSeaBlue;
    }
    
  }
  &__largericon {
    font-size: 5vw;
    color: $deepSeaBlue;
  }

  }

body {
  background-color: $oldWhite;
  min-height: 100vw;
  display: flex;
  flex-direction: column;

  footer {
        
    margin-top: auto;
    border-top: 1px solid $deepSeaBlue;
    
  }
}



.topnav {
  background-color: $deepSeaBlue;
  padding: 2vw;

  
  ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 14px 16px;
    margin: 2%;
    text-decoration: none;
    font-size: 3vw;

      li {
        list-style-type: none;
        
        a {
          text-decoration: none;
          padding: 2vw;
          
          color: $darkYellow;
          text-shadow: 0 0.2vw 0.2vw $orange;

          &:hover {
    
            color: $orange;
          }
        }
      }

    
  }
  
  
}
@media screen and (max-width: 600px) {

  
  }
  

